# Not needed after https://github.com/bazelbuild/bazel/issues/7260 is closed
build --incompatible_enable_cc_toolchain_resolution

build:debug -c dbg
build:debug --copt="-g"
build:debug --strip="never"

coverage --java_runtime_version=remotejdk_11 --nocache_test_results
coverage --combined_report=lcov --experimental_generate_llvm_lcov --experimental_use_llvm_covmap
