# We can't advance this because it's a breaking change. Past this, UUIDs are
# correctly implemented, when much of our code assume strings.
openapi-python-client==0.21.5

# If we go to 2.10 we have to upgrade openapi-python-client to avoid bugs. We
# can't do this as stated above.
pydantic>=2.1.1,<2.10
